* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
ul li{
	list-style-type: none;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background: rgb(8, 11, 51);
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
	height: auto;
}
.hero-section{
	background-image: linear-gradient(to bottom, rgb(100, 110, 232) 0%, rgb(8, 11, 51) 100%);
	z-index: -2;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	/* top: 22vh; */
	top: 7vh;
	z-index: 0;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 3.3);
	position: absolute;
	width: calc(var(--index) * 33);
	bottom: 12vh;
	line-height: 0.9;
}
.about {
	height: 100vh;
}
.about-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}
.about-me__wrap,
.my-skills__wrap {
	width: calc(var(--index) * 22);
	height: calc(var(--index) * 20);;
	align-self: center;
}
.my-skills__list{
	display: flex;
	flex-wrap: wrap;
}
.my-skills__icon {
	filter: grayscale(100%);
	transition: filter .3s ease;
	width: 128px;
	height: 128px;
}
.my-skills__icon:hover {
	filter: grayscale(0%);
	transition: filter .3s ease;
}
.about__text .text-block__h {
	font-size: 1.5rem;
}
.about__text .text-block__p{
	font-size: 1.2rem;
}
.text-block__p{
	margin-bottom: calc(calc(var(--index) * 0.5));
}
.gallery {
	display: flex;
	flex-direction: column;
}
.gallery__wrap{
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.gallery__item {
	width: calc(var(--index) * 21);
	height: calc(var(--index) * 29);
	border-radius: 8px;
	object-fit: cover;
}
.gallery__wrap .text-block {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
